<a href="https://colab.research.google.com/github/Tai543/Saturdays-IA/blob/master/IA_Saturdays_Day_1_Python_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for data science and data analysis from scratch**


# **Part 1. Introduction to Python**

---



---





## **Python Basics**
---

### **What is a programming language?**

A programming language is a vocabulary and set of grammatical rules for instructing a computer or computing device to perform specific tasks.

### **What is Python?**
So, what is Python? Simply put, Python is a programming language. It was created by Guido van Rossum in the early 90s, and is now one of the most popular languages in existence.

Python's design philosophy emphasizes code readability.

Python is an interpreted language, so it doesn't need to be compiled.

## **Displaying Messages**

---

### **Your First Python Program**
Programming tutorials since the beginning of time have started with a little program called "Hello, World!" So here it is:

In [0]:
print("Hello, World!")

Hello, World!

What we were doing above is using a function called **print**. The function's name **print** is followed by parentheses containing zero or more arguments. Consider this example: 

```
print("Hello, World!")
``` 
In this example, there is one argument, which is "Hello, World!". The combination of a function and parentheses with the arguments is a **function** call. 

A function and its arguments are one type of statement that Python has that you can think of a statement as a single line in a program.

Here is another program:

In [0]:
print(2 + 2)
print(3 * 4)

4
12

### **How Comments Work in Python**

Often in programming, you are doing something complicated and might not remember in future what you did! To avoid this, the program must be commented. A **comment** is a note to you and other programmers explaining what is happening. For example:

In [0]:
# Not quite PI, but a credible approximation
print(22 / 7)

3.142857142857143

### **Arithmetic Expressions**

In this example, the **print** function is followed by two arguments, with each of the arguments separated by a comma. Here's the first line of the program: 

```print("2 + 2 is", 2 + 2)```

The first argument in the preceding line is the string **"2 + 2 is"** and the second argument is the arithmetic expression **2 + 2**, which is one kind of expressions.

What is important to note is that a string is printed _as is_ (without the enclosing double quotes), but an expression is evaluated, or converted to its actual value.

Python has **seven** basic operations for numbers:

<table>
    <tr>
        <th>Operation</th>
        <th>Symbol</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>Power (exponentiation)</td>
        <td>**</td>
        <td>5 ** 2 == 25</td>
    </tr>
    <tr>
        <td>Multiplication</td>
        <td>*</td>
        <td>2 * 3 == 6</td>
    </tr>
    <tr>
        <td>Division</td>
        <td>/</td>
        <td>14 / 3 == 4.666666666666667</td>
    </tr>
    <tr>
        <td>Integer Division</td>
        <td>//</td>
        <td>14 // 3 == 4</td>
    </tr>
    <tr>
        <td>Remainder (modulo)</td>
        <td>%</td>
        <td>14 % 3 == 2</td>
    </tr>
    <tr>
        <td>Addition</td>
        <td>+</td>
        <td>1 + 2 == 3</td>
    </tr>
    <tr>
        <td>Subtraction</td>
        <td>-</td>
        <td>4 - 3 == 1</td>
    </tr>
</table>

### **Importing Modules**

Python's growing popularity has allowed it to enter into some of the most popular and complex processes like Artificial Intelligence (AI), Machine Learning (ML), Natural Language Processing (NLP), Data Science, etc. 

Visit [pypi.org](https://pypi.org/) to find and install software developed and shared by the Python community.

In [0]:
from datetime import date

print("Today's date:", date.today())

Today's date: 2020-04-24

In [0]:
import random

print("Give me a number: ", random.randint(1, 100))

Give me a number:  67

In [0]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### **Exercises**

1.   Write a program that prints your full name and your birthday as separate strings.

In [0]:
print("Tatiana")
print("5 de Abril")

Tatiana
5 de Abril

2.   Write a program that shows the use of all 7 arithmetic operations.

In [0]:
print((5*5//5)**(10/(5+3-3))%2)
print (date.today().strftime('Formato literal %d, %b %Y'))
print(f"{date.today():%Y-%m-%d}")

1.0
Formato literal 25, Apr 2020
2020-04-25


# **Part 2. Simple Data Types and Variables**

---

---

## **Variable Assignment**

---
###**What is a Programming Variable?**
**Variables** are used to store information to be referenced and manipulated in a computer program. They also provide a way of labeling data with a descriptive name, so our programs can be understood more clearly by the reader and ourselves. It is helpful to think of variables as containers that hold information

In [0]:
number = 5
text = '5'
pi = 3.1416

### **Classes in Python**
**Classes** help developers to represent real-world entities:

* Classes define objects in attributes and behaviors. Attributes are data 
members and behaviors are manifested by the member functions.
* Classes consist of constructors that provide the initial state for these objects.
* Classes are like templates and hence can be easily reused. 

For example, class **Person** will have attributes **name** and **age** and member function **gotoOffice()** that defines his behavior for travelling to office for work.

In [0]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def gotoOffice(self):
    print(self.name + ' is walking to the office')

p1 = Person("John", 36)
p1.gotoOffice()

John is walking to the office

### **Objects in Python**
They represent entities in your application under development.

Entities interact among themselves to solve real-world problems.

For example, **Person** is an entity and **Car** is an entity. **Person** drives **Car** to move from one location to the other.



```
john = Person()
toyota = Car()

john.drives(toyota)
```


### **Methods in Python**
* They represent the behavior of the object.
* Methods work on attributes and also implement the desired functionality.

For example, **newYear()** can read the current age of the person and add one year to it.

In [0]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def newYear(self):
    self.age += 1

john = Person("John", 36)
print(john.name + ' is ' + str(john.age) + ' years old')
john.newYear()
print("Now " + john.name + ' is ' + str(john.age) + ' years old')

John is 36 years old
Now John is 37 years old

## **Functions**

---

### **What is a Programing Function?**
A **function** is a block of organized, reusable code that is used to perform a single, related action. [8](https://www.tutorialspoint.com/computer_programming/computer_programming_functions.htm)

A function is a block of code which only runs when it is called. [9](https://www.w3schools.com/python/python_functions.asp)

### **How to Define a Function?**
In Python, a function is defined using the `def` keyword:
```python
def my_function():
  print("Hello from a function") 
```

To call a function, use the function name followed by parenthesis:
```python
my_function()
```

In [0]:
def my_function():
  print("Hello from a function") 

my_function()

### **What If We want to Get a Result Back? Store it Back?**
To let a function return a value, use the `return` statement:

```python
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9)) 
```

In [0]:
def my_function(x):
  return 5 * x

a = my_function(2)
print(a)

10

### **What is a Function Parameter?**
Information can be passed to functions as **parameters**.

Parameters are specified _after_ the function name, inside  parentheses. You can add as many parameters as you want, just separate them with a comma.

The following example has a function with one parameter (**fname**). When the function is called, we pass along a first name, which is used inside the function to print the full name: 

```python
def my_function(fname):
  print(fname + " Smith")

my_function("Emil")
my_function("Tobias")
my_function("Linus") 
```

The following example shows how to use a default parameter value.

If we call the function without parameter, it uses the default value:
```python
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil") 
```

In [0]:
# how to read a csv file with Python
import codecs
from contextlib import closing
import csv
import requests

url = 'https://titanic-data-set.s3.amazonaws.com/test.csv'

stream = requests.get(url, stream=True)
with closing(stream) as r:
    lines = r.iter_lines()
    decoded = codecs.iterdecode(lines, 'utf-8')
    reader = csv.reader(decoded)
    for row in reader:
        print(row)

['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
['892', '3', 'Kelly, Mr. James', 'male', '34.5', '0', '0', '330911', '7.8292', '', 'Q']
['893', '3', 'Wilkes, Mrs. James (Ellen Needs)', 'female', '47', '1', '0', '363272', '7', '', 'S']
['894', '2', 'Myles, Mr. Thomas Francis', 'male', '62', '0', '0', '240276', '9.6875', '', 'Q']
['895', '3', 'Wirz, Mr. Albert', 'male', '27', '0', '0', '315154', '8.6625', '', 'S']
['896', '3', 'Hirvonen, Mrs. Alexander (Helga E Lindqvist)', 'female', '22', '1', '1', '3101298', '12.2875', '', 'S']
['897', '3', 'Svensson, Mr. Johan Cervin', 'male', '14', '0', '0', '7538', '9.225', '', 'S']
['898', '3', 'Connolly, Miss. Kate', 'female', '30', '0', '0', '330972', '7.6292', '', 'Q']
['899', '2', 'Caldwell, Mr. Albert Francis', 'male', '26', '1', '1', '248738', '29', '', 'S']
['900', '3', 'Abrahim, Mrs. Joseph (Sophie Halaut Easu)', 'female', '18', '0', '0', '2657', '7.2292', '', 'C']
['901', '3', 'Davies, Mr. John Samuel', 'male', '21', '2', '0', 'A/4 48871', '24.15', '', 'S']
['902', '3', 'Ilieff, Mr. Ylio', 'male', '', '0', '0', '349220', '7.8958', '', 'S']
['903', '1', 'Jones, Mr. Charles Cresson', 'male', '46', '0', '0', '694', '26', '', 'S']
['904', '1', 'Snyder, Mrs. John Pillsbury (Nelle Stevenson)', 'female', '23', '1', '0', '21228', '82.2667', 'B45', 'S']
['905', '2', 'Howard, Mr. Benjamin', 'male', '63', '1', '0', '24065', '26', '', 'S']
['906', '1', 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)', 'female', '47', '1', '0', 'W.E.P. 5734', '61.175', 'E31', 'S']
['907', '2', 'del Carlo, Mrs. Sebastiano (Argenia Genovesi)', 'female', '24', '1', '0', 'SC/PARIS 2167', '27.7208', '', 'C']
['908', '2', 'Keane, Mr. Daniel', 'male', '35', '0', '0', '233734', '12.35', '', 'Q']
['909', '3', 'Assaf, Mr. Gerios', 'male', '21', '0', '0', '2692', '7.225', '', 'C']
['910', '3', 'Ilmakangas, Miss. Ida Livija', 'female', '27', '1', '0', 'STON/O2. 3101270', '7.925', '', 'S']
['911', '3', 'Assaf Khalil, Mrs. Mariana (Miriam")"', 'female', '45', '0', '0', '2696', '7.225', '', 'C']
['912', '1', 'Rothschild, Mr. Martin', 'male', '55', '1', '0', 'PC 17603', '59.4', '', 'C']
['913', '3', 'Olsen, Master. Artur Karl', 'male', '9', '0', '1', 'C 17368', '3.1708', '', 'S']
['914', '1', 'Flegenheim, Mrs. Alfred (Antoinette)', 'female', '', '0', '0', 'PC 17598', '31.6833', '', 'S']
['915', '1', 'Williams, Mr. Richard Norris II', 'male', '21', '0', '1', 'PC 17597', '61.3792', '', 'C']
['916', '1', 'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)', 'female', '48', '1', '3', 'PC 17608', '262.375', 'B57 B59 B63 B66', 'C']
['917', '3', 'Robins, Mr. Alexander A', 'male', '50', '1', '0', 'A/5. 3337', '14.5', '', 'S']
['918', '1', 'Ostby, Miss. Helene Ragnhild', 'female', '22', '0', '1', '113509', '61.9792', 'B36', 'C']
['919', '3', 'Daher, Mr. Shedid', 'male', '22.5', '0', '0', '2698', '7.225', '', 'C']
['920', '1', 'Brady, Mr. John Bertram', 'male', '41', '0', '0', '113054', '30.5', 'A21', 'S']
['921', '3', 'Samaan, Mr. Elias', 'male', '', '2', '0', '2662', '21.6792', '', 'C']
['922', '2', 'Louch, Mr. Charles Alexander', 'male', '50', '1', '0', 'SC/AH 3085', '26', '', 'S']
['923', '2', 'Jefferys, Mr. Clifford Thomas', 'male', '24', '2', '0', 'C.A. 31029', '31.5', '', 'S']
['924', '3', 'Dean, Mrs. Bertram (Eva Georgetta Light)', 'female', '33', '1', '2', 'C.A. 2315', '20.575', '', 'S']
['925', '3', 'Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"', 'female', '', '1', '2', 'W./C. 6607', '23.45', '', 'S']
['926', '1', 'Mock, Mr. Philipp Edmund', 'male', '30', '1', '0', '13236', '57.75', 'C78', 'C']
['927', '3', 'Katavelas, Mr. Vassilios (Catavelas Vassilios")"', 'male', '18.5', '0', '0', '2682', '7.2292', '', 'C']
['928', '3', 'Roth, Miss. Sarah A', 'female', '', '0', '0', '342712', '8.05', '', 'S']
['929', '3', 'Cacic, Miss. Manda', 'female', '21', '0', '0', '315087', '8.6625', '', 'S']
['930', '3', 'Sap, Mr. Julius', 'male', '25', '0', '0', '345768', '9.5', '', 'S']
['931', '3', 'Hee, Mr. Ling', 'male', '', '0', '0', '1601', '56.4958', '', 'S']
['932', '3', 'Karun, Mr. Franz', 'male', '39', '0', '1', '349256', '13.4167', '', 'C']
['933', '1', 'Franklin, Mr. Thomas Parham', 'male', '', '0', '0', '113778', '26.55', 'D34', 'S']
['934', '3', 'Goldsmith, Mr. Nathan', 'male', '41', '0', '0', 'SOTON/O.Q. 3101263', '7.85', '', 'S']
['935', '2', 'Corbett, Mrs. Walter H (Irene Colvin)', 'female', '30', '0', '0', '237249', '13', '', 'S']
['936', '1', 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)', 'female', '45', '1', '0', '11753', '52.5542', 'D19', 'S']
['937', '3', 'Peltomaki, Mr. Nikolai Johannes', 'male', '25', '0', '0', 'STON/O 2. 3101291', '7.925', '', 'S']
['938', '1', 'Chevre, Mr. Paul Romaine', 'male', '45', '0', '0', 'PC 17594', '29.7', 'A9', 'C']
['939', '3', 'Shaughnessy, Mr. Patrick', 'male', '', '0', '0', '370374', '7.75', '', 'Q']
['940', '1', 'Bucknell, Mrs. William Robert (Emma Eliza Ward)', 'female', '60', '0', '0', '11813', '76.2917', 'D15', 'C']
['941', '3', 'Coutts, Mrs. William (Winnie Minnie" Treanor)"', 'female', '36', '0', '2', 'C.A. 37671', '15.9', '', 'S']
['942', '1', 'Smith, Mr. Lucien Philip', 'male', '24', '1', '0', '13695', '60', 'C31', 'S']
['943', '2', 'Pulbaum, Mr. Franz', 'male', '27', '0', '0', 'SC/PARIS 2168', '15.0333', '', 'C']
['944', '2', 'Hocking, Miss. Ellen Nellie""', 'female', '20', '2', '1', '29105', '23', '', 'S']
['945', '1', 'Fortune, Miss. Ethel Flora', 'female', '28', '3', '2', '19950', '263', 'C23 C25 C27', 'S']
['946', '2', 'Mangiavacchi, Mr. Serafino Emilio', 'male', '', '0', '0', 'SC/A.3 2861', '15.5792', '', 'C']
['947', '3', 'Rice, Master. Albert', 'male', '10', '4', '1', '382652', '29.125', '', 'Q']
['948', '3', 'Cor, Mr. Bartol', 'male', '35', '0', '0', '349230', '7.8958', '', 'S']
['949', '3', 'Abelseth, Mr. Olaus Jorgensen', 'male', '25', '0', '0', '348122', '7.65', 'F G63', 'S']
['950', '3', 'Davison, Mr. Thomas Henry', 'male', '', '1', '0', '386525', '16.1', '', 'S']
['951', '1', 'Chaudanson, Miss. Victorine', 'female', '36', '0', '0', 'PC 17608', '262.375', 'B61', 'C']
['952', '3', 'Dika, Mr. Mirko', 'male', '17', '0', '0', '349232', '7.8958', '', 'S']
['953', '2', 'McCrae, Mr. Arthur Gordon', 'male', '32', '0', '0', '237216', '13.5', '', 'S']
['954', '3', 'Bjorklund, Mr. Ernst Herbert', 'male', '18', '0', '0', '347090', '7.75', '', 'S']
['955', '3', 'Bradley, Miss. Bridget Delia', 'female', '22', '0', '0', '334914', '7.725', '', 'Q']
['956', '1', 'Ryerson, Master. John Borie', 'male', '13', '2', '2', 'PC 17608', '262.375', 'B57 B59 B63 B66', 'C']
['957', '2', 'Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)', 'female', '', '0', '0', 'F.C.C. 13534', '21', '', 'S']
['958', '3', 'Burns, Miss. Mary Delia', 'female', '18', '0', '0', '330963', '7.8792', '', 'Q']
['959', '1', 'Moore, Mr. Clarence Bloomfield', 'male', '47', '0', '0', '113796', '42.4', '', 'S']
['960', '1', 'Tucker, Mr. Gilbert Milligan Jr', 'male', '31', '0', '0', '2543', '28.5375', 'C53', 'C']
['961', '1', 'Fortune, Mrs. Mark (Mary McDougald)', 'female', '60', '1', '4', '19950', '263', 'C23 C25 C27', 'S']
['962', '3', 'Mulvihill, Miss. Bertha E', 'female', '24', '0', '0', '382653', '7.75', '', 'Q']
['963', '3', 'Minkoff, Mr. Lazar', 'male', '21', '0', '0', '349211', '7.8958', '', 'S']
['964', '3', 'Nieminen, Miss. Manta Josefina', 'female', '29', '0', '0', '3101297', '7.925', '', 'S']
['965', '1', 'Ovies y Rodriguez, Mr. Servando', 'male', '28.5', '0', '0', 'PC 17562', '27.7208', 'D43', 'C']
['966', '1', 'Geiger, Miss. Amalie', 'female', '35', '0', '0', '113503', '211.5', 'C130', 'C']
['967', '1', 'Keeping, Mr. Edwin', 'male', '32.5', '0', '0', '113503', '211.5', 'C132', 'C']
['968', '3', 'Miles, Mr. Frank', 'male', '', '0', '0', '359306', '8.05', '', 'S']
['969', '1', 'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)', 'female', '55', '2', '0', '11770', '25.7', 'C101', 'S']
['970', '2', 'Aldworth, Mr. Charles Augustus', 'male', '30', '0', '0', '248744', '13', '', 'S']
['971', '3', 'Doyle, Miss. Elizabeth', 'female', '24', '0', '0', '368702', '7.75', '', 'Q']
['972', '3', 'Boulos, Master. Akar', 'male', '6', '1', '1', '2678', '15.2458', '', 'C']
['973', '1', 'Straus, Mr. Isidor', 'male', '67', '1', '0', 'PC 17483', '221.7792', 'C55 C57', 'S']
['974', '1', 'Case, Mr. Howard Brown', 'male', '49', '0', '0', '19924', '26', '', 'S']
['975', '3', 'Demetri, Mr. Marinko', 'male', '', '0', '0', '349238', '7.8958', '', 'S']
['976', '2', 'Lamb, Mr. John Joseph', 'male', '', '0', '0', '240261', '10.7083', '', 'Q']
['977', '3', 'Khalil, Mr. Betros', 'male', '', '1', '0', '2660', '14.4542', '', 'C']
['978', '3', 'Barry, Miss. Julia', 'female', '27', '0', '0', '330844', '7.8792', '', 'Q']
['979', '3', 'Badman, Miss. Emily Louisa', 'female', '18', '0', '0', 'A/4 31416', '8.05', '', 'S']
['980', '3', "O'Donoghue, Ms. Bridget", 'female', '', '0', '0', '364856', '7.75', '', 'Q']
['981', '2', 'Wells, Master. Ralph Lester', 'male', '2', '1', '1', '29103', '23', '', 'S']
['982', '3', 'Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)', 'female', '22', '1', '0', '347072', '13.9', '', 'S']
['983', '3', 'Pedersen, Mr. Olaf', 'male', '', '0', '0', '345498', '7.775', '', 'S']
['984', '1', 'Davidson, Mrs. Thornton (Orian Hays)', 'female', '27', '1', '2', 'F.C. 12750', '52', 'B71', 'S']
['985', '3', 'Guest, Mr. Robert', 'male', '', '0', '0', '376563', '8.05', '', 'S']
['986', '1', 'Birnbaum, Mr. Jakob', 'male', '25', '0', '0', '13905', '26', '', 'C']
['987', '3', 'Tenglin, Mr. Gunnar Isidor', 'male', '25', '0', '0', '350033', '7.7958', '', 'S']
['988', '1', 'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)', 'female', '76', '1', '0', '19877', '78.85', 'C46', 'S']
['989', '3', 'Makinen, Mr. Kalle Edvard', 'male', '29', '0', '0', 'STON/O 2. 3101268', '7.925', '', 'S']
['990', '3', 'Braf, Miss. Elin Ester Maria', 'female', '20', '0', '0', '347471', '7.8542', '', 'S']
['991', '3', 'Nancarrow, Mr. William Henry', 'male', '33', '0', '0', 'A./5. 3338', '8.05', '', 'S']
['992', '1', 'Stengel, Mrs. Charles Emil Henry (Annie May Morris)', 'female', '43', '1', '0', '11778', '55.4417', 'C116', 'C']
['993', '2', 'Weisz, Mr. Leopold', 'male', '27', '1', '0', '228414', '26', '', 'S']
['994', '3', 'Foley, Mr. William', 'male', '', '0', '0', '365235', '7.75', '', 'Q']
['995', '3', 'Johansson Palmquist, Mr. Oskar Leander', 'male', '26', '0', '0', '347070', '7.775', '', 'S']
['996', '3', 'Thomas, Mrs. Alexander (Thamine Thelma")"', 'female', '16', '1', '1', '2625', '8.5167', '', 'C']
['997', '3', 'Holthen, Mr. Johan Martin', 'male', '28', '0', '0', 'C 4001', '22.525', '', 'S']
['998', '3', 'Buckley, Mr. Daniel', 'male', '21', '0', '0', '330920', '7.8208', '', 'Q']
['999', '3', 'Ryan, Mr. Edward', 'male', '', '0', '0', '383162', '7.75', '', 'Q']
['1000', '3', 'Willer, Mr. Aaron (Abi Weller")"', 'male', '', '0', '0', '3410', '8.7125', '', 'S']
['1001', '2', 'Swane, Mr. George', 'male', '18.5', '0', '0', '248734', '13', 'F', 'S']
['1002', '2', 'Stanton, Mr. Samuel Ward', 'male', '41', '0', '0', '237734', '15.0458', '', 'C']
['1003', '3', 'Shine, Miss. Ellen Natalia', 'female', '', '0', '0', '330968', '7.7792', '', 'Q']
['1004', '1', 'Evans, Miss. Edith Corse', 'female', '36', '0', '0', 'PC 17531', '31.6792', 'A29', 'C']
['1005', '3', 'Buckley, Miss. Katherine', 'female', '18.5', '0', '0', '329944', '7.2833', '', 'Q']
['1006', '1', 'Straus, Mrs. Isidor (Rosalie Ida Blun)', 'female', '63', '1', '0', 'PC 17483', '221.7792', 'C55 C57', 'S']
['1007', '3', 'Chronopoulos, Mr. Demetrios', 'male', '18', '1', '0', '2680', '14.4542', '', 'C']
['1008', '3', 'Thomas, Mr. John', 'male', '', '0', '0', '2681', '6.4375', '', 'C']
['1009', '3', 'Sandstrom, Miss. Beatrice Irene', 'female', '1', '1', '1', 'PP 9549', '16.7', 'G6', 'S']
['1010', '1', 'Beattie, Mr. Thomson', 'male', '36', '0', '0', '13050', '75.2417', 'C6', 'C']
['1011', '2', 'Chapman, Mrs. John Henry (Sara Elizabeth Lawry)', 'female', '29', '1', '0', 'SC/AH 29037', '26', '', 'S']
['1012', '2', 'Watt, Miss. Bertha J', 'female', '12', '0', '0', 'C.A. 33595', '15.75', '', 'S']
['1013', '3', 'Kiernan, Mr. John', 'male', '', '1', '0', '367227', '7.75', '', 'Q']
['1014', '1', 'Schabert, Mrs. Paul (Emma Mock)', 'female', '35', '1', '0', '13236', '57.75', 'C28', 'C']
['1015', '3', 'Carver, Mr. Alfred John', 'male', '28', '0', '0', '392095', '7.25', '', 'S']
['1016', '3', 'Kennedy, Mr. John', 'male', '', '0', '0', '368783', '7.75', '', 'Q']
['1017', '3', 'Cribb, Miss. Laura Alice', 'female', '17', '0', '1', '371362', '16.1', '', 'S']
['1018', '3', 'Brobeck, Mr. Karl Rudolf', 'male', '22', '0', '0', '350045', '7.7958', '', 'S']
['1019', '3', 'McCoy, Miss. Alicia', 'female', '', '2', '0', '367226', '23.25', '', 'Q']
['1020', '2', 'Bowenur, Mr. Solomon', 'male', '42', '0', '0', '211535', '13', '', 'S']
['1021', '3', 'Petersen, Mr. Marius', 'male', '24', '0', '0', '342441', '8.05', '', 'S']
['1022', '3', 'Spinner, Mr. Henry John', 'male', '32', '0', '0', 'STON/OQ. 369943', '8.05', '', 'S']
['1023', '1', 'Gracie, Col. Archibald IV', 'male', '53', '0', '0', '113780', '28.5', 'C51', 'C']
['1024', '3', 'Lefebre, Mrs. Frank (Frances)', 'female', '', '0', '4', '4133', '25.4667', '', 'S']
['1025', '3', 'Thomas, Mr. Charles P', 'male', '', '1', '0', '2621', '6.4375', '', 'C']
['1026', '3', 'Dintcheff, Mr. Valtcho', 'male', '43', '0', '0', '349226', '7.8958', '', 'S']
['1027', '3', 'Carlsson, Mr. Carl Robert', 'male', '24', '0', '0', '350409', '7.8542', '', 'S']
['1028', '3', 'Zakarian, Mr. Mapriededer', 'male', '26.5', '0', '0', '2656', '7.225', '', 'C']
['1029', '2', 'Schmidt, Mr. August', 'male', '26', '0', '0', '248659', '13', '', 'S']
['1030', '3', 'Drapkin, Miss. Jennie', 'female', '23', '0', '0', 'SOTON/OQ 392083', '8.05', '', 'S']
['1031', '3', 'Goodwin, Mr. Charles Frederick', 'male', '40', '1', '6', 'CA 2144', '46.9', '', 'S']
['1032', '3', 'Goodwin, Miss. Jessie Allis', 'female', '10', '5', '2', 'CA 2144', '46.9', '', 'S']
['1033', '1', 'Daniels, Miss. Sarah', 'female', '33', '0', '0', '113781', '151.55', '', 'S']
['1034', '1', 'Ryerson, Mr. Arthur Larned', 'male', '61', '1', '3', 'PC 17608', '262.375', 'B57 B59 B63 B66', 'C']
['1035', '2', 'Beauchamp, Mr. Henry James', 'male', '28', '0', '0', '244358', '26', '', 'S']
['1036', '1', 'Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey")"', 'male', '42', '0', '0', '17475', '26.55', '', 'S']
['1037', '3', 'Vander Planke, Mr. Julius', 'male', '31', '3', '0', '345763', '18', '', 'S']
['1038', '1', 'Hilliard, Mr. Herbert Henry', 'male', '', '0', '0', '17463', '51.8625', 'E46', 'S']
['1039', '3', 'Davies, Mr. Evan', 'male', '22', '0', '0', 'SC/A4 23568', '8.05', '', 'S']
['1040', '1', 'Crafton, Mr. John Bertram', 'male', '', '0', '0', '113791', '26.55', '', 'S']
['1041', '2', 'Lahtinen, Rev. William', 'male', '30', '1', '1', '250651', '26', '', 'S']
['1042', '1', 'Earnshaw, Mrs. Boulton (Olive Potter)', 'female', '23', '0', '1', '11767', '83.1583', 'C54', 'C']
['1043', '3', 'Matinoff, Mr. Nicola', 'male', '', '0', '0', '349255', '7.8958', '', 'C']
['1044', '3', 'Storey, Mr. Thomas', 'male', '60.5', '0', '0', '3701', '', '', 'S']
['1045', '3', 'Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)', 'female', '36', '0', '2', '350405', '12.1833', '', 'S']
['1046', '3', 'Asplund, Master. Filip Oscar', 'male', '13', '4', '2', '347077', '31.3875', '', 'S']
['1047', '3', 'Duquemin, Mr. Joseph', 'male', '24', '0', '0', 'S.O./P.P. 752', '7.55', '', 'S']
['1048', '1', 'Bird, Miss. Ellen', 'female', '29', '0', '0', 'PC 17483', '221.7792', 'C97', 'S']
['1049', '3', 'Lundin, Miss. Olga Elida', 'female', '23', '0', '0', '347469', '7.8542', '', 'S']
['1050', '1', 'Borebank, Mr. John James', 'male', '42', '0', '0', '110489', '26.55', 'D22', 'S']
['1051', '3', 'Peacock, Mrs. Benjamin (Edith Nile)', 'female', '26', '0', '2', 'SOTON/O.Q. 3101315', '13.775', '', 'S']
['1052', '3', 'Smyth, Miss. Julia', 'female', '', '0', '0', '335432', '7.7333', '', 'Q']
['1053', '3', 'Touma, Master. Georges Youssef', 'male', '7', '1', '1', '2650', '15.2458', '', 'C']
['1054', '2', 'Wright, Miss. Marion', 'female', '26', '0', '0', '220844', '13.5', '', 'S']
['1055', '3', 'Pearce, Mr. Ernest', 'male', '', '0', '0', '343271', '7', '', 'S']
['1056', '2', 'Peruschitz, Rev. Joseph Maria', 'male', '41', '0', '0', '237393', '13', '', 'S']
['1057', '3', 'Kink-Heilmann, Mrs. Anton (Luise Heilmann)', 'female', '26', '1', '1', '315153', '22.025', '', 'S']
['1058', '1', 'Brandeis, Mr. Emil', 'male', '48', '0', '0', 'PC 17591', '50.4958', 'B10', 'C']
['1059', '3', 'Ford, Mr. Edward Watson', 'male', '18', '2', '2', 'W./C. 6608', '34.375', '', 'S']
['1060', '1', 'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)', 'female', '', '0', '0', '17770', '27.7208', '', 'C']
['1061', '3', 'Hellstrom, Miss. Hilda Maria', 'female', '22', '0', '0', '7548', '8.9625', '', 'S']
['1062', '3', 'Lithman, Mr. Simon', 'male', '', '0', '0', 'S.O./P.P. 251', '7.55', '', 'S']
['1063', '3', 'Zakarian, Mr. Ortin', 'male', '27', '0', '0', '2670', '7.225', '', 'C']
['1064', '3', 'Dyker, Mr. Adolf Fredrik', 'male', '23', '1', '0', '347072', '13.9', '', 'S']
['1065', '3', 'Torfa, Mr. Assad', 'male', '', '0', '0', '2673', '7.2292', '', 'C']
['1066', '3', 'Asplund, Mr. Carl Oscar Vilhelm Gustafsson', 'male', '40', '1', '5', '347077', '31.3875', '', 'S']
['1067', '2', 'Brown, Miss. Edith Eileen', 'female', '15', '0', '2', '29750', '39', '', 'S']
['1068', '2', 'Sincock, Miss. Maude', 'female', '20', '0', '0', 'C.A. 33112', '36.75', '', 'S']
['1069', '1', 'Stengel, Mr. Charles Emil Henry', 'male', '54', '1', '0', '11778', '55.4417', 'C116', 'C']
['1070', '2', 'Becker, Mrs. Allen Oliver (Nellie E Baumgardner)', 'female', '36', '0', '3', '230136', '39', 'F4', 'S']
['1071', '1', 'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)', 'female', '64', '0', '2', 'PC 17756', '83.1583', 'E45', 'C']
['1072', '2', 'McCrie, Mr. James Matthew', 'male', '30', '0', '0', '233478', '13', '', 'S']
['1073', '1', 'Compton, Mr. Alexander Taylor Jr', 'male', '37', '1', '1', 'PC 17756', '83.1583', 'E52', 'C']
['1074', '1', 'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)', 'female', '18', '1', '0', '113773', '53.1', 'D30', 'S']
['1075', '3', 'Lane, Mr. Patrick', 'male', '', '0', '0', '7935', '7.75', '', 'Q']
['1076', '1', 'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)', 'female', '27', '1', '1', 'PC 17558', '247.5208', 'B58 B60', 'C']
['1077', '2', 'Maybery, Mr. Frank Hubert', 'male', '40', '0', '0', '239059', '16', '', 'S']
['1078', '2', 'Phillips, Miss. Alice Frances Louisa', 'female', '21', '0', '1', 'S.O./P.P. 2', '21', '', 'S']
['1079', '3', 'Davies, Mr. Joseph', 'male', '17', '2', '0', 'A/4 48873', '8.05', '', 'S']
['1080', '3', 'Sage, Miss. Ada', 'female', '', '8', '2', 'CA. 2343', '69.55', '', 'S']
['1081', '2', 'Veal, Mr. James', 'male', '40', '0', '0', '28221', '13', '', 'S']
['1082', '2', 'Angle, Mr. William A', 'male', '34', '1', '0', '226875', '26', '', 'S']
['1083', '1', 'Salomon, Mr. Abraham L', 'male', '', '0', '0', '111163', '26', '', 'S']
['1084', '3', 'van Billiard, Master. Walter John', 'male', '11.5', '1', '1', 'A/5. 851', '14.5', '', 'S']
['1085', '2', 'Lingane, Mr. John', 'male', '61', '0', '0', '235509', '12.35', '', 'Q']
['1086', '2', 'Drew, Master. Marshall Brines', 'male', '8', '0', '2', '28220', '32.5', '', 'S']
['1087', '3', 'Karlsson, Mr. Julius Konrad Eugen', 'male', '33', '0', '0', '347465', '7.8542', '', 'S']
['1088', '1', 'Spedden, Master. Robert Douglas', 'male', '6', '0', '2', '16966', '134.5', 'E34', 'C']
['1089', '3', 'Nilsson, Miss. Berta Olivia', 'female', '18', '0', '0', '347066', '7.775', '', 'S']
['1090', '2', 'Baimbrigge, Mr. Charles Robert', 'male', '23', '0', '0', 'C.A. 31030', '10.5', '', 'S']
['1091', '3', 'Rasmussen, Mrs. (Lena Jacobsen Solvang)', 'female', '', '0', '0', '65305', '8.1125', '', 'S']
['1092', '3', 'Murphy, Miss. Nora', 'female', '', '0', '0', '36568', '15.5', '', 'Q']

### **Exercises**

* Create a function `greeting` with name as a parameter. Should say “Hello” + name.

In [0]:

def greeting(name="Tatiana"):
  return "Hello "+name

print(greeting())

Hello Tatiana

* Create a function to sum two numeric parameters.

In [0]:
def suma(x,y):
  return x+y 
print(suma(5,5))

10

### **= vs == in Python**
The **=** operator is used for variable assignments.

In [0]:
x = 5
X = 'this is a string'

print('x value is :', x )
print('X value is :', X )

x value is : 5
X value is : this is a string

The **==** operator is used operator compares the values of both the operands _and_ checks for value equality.

In [0]:
print(5 == 5)
print(4 == '4')

True
False

## **Variable Types** 

---

### **Strings**

A **string** is a sequence of characters.

A **character** is simply a symbol. For example, the English language has 26 characters.

In [0]:
# all of the following are equivalent
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

my_string = """Hello, welcome to \n the world of Python"""

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to 
           the world of Python"""
print(my_string)

# strings are case sensitive
print('Python' == 'python')

Hello
Hello
Hello
Hello, welcome to
           the world of Python
False

### **Numbers**

Python supports **integers**, **floating point numbers**, and **complex numbers**. They are defined as `int`, `float`, and `complex` class in Python.

**Integers** and **floating points** are separated by the presence or absence of a decimal point. 5 is integer whereas 5.0 is a floating point number.

We can use the **type()** function to know which class a variable or a value belongs to and **isinstance()** function to check if it belongs to a particular class.

In [0]:
a = 5
print(type(a))

print(type(5.0))

<class 'int'>
<class 'float'>

### **Booleans**

A boolean literal can have any of the two values: `True` or `False`.

In [0]:
x = True
y = False

print(True != x)
print(False == y)
print(x == y)

False
True
False

### **Exercises**

1. Add two string variables and print the result, describe the behavior.

In [0]:
a = '1'
b = '2'

# describe the behavior: es como el concat
print(a+b)

12

2. Create a program using sum of strings for your name and birthday, use variables too. For example, "My name is Mary, my birthday is on September."

In [0]:

print('My name is ')

3. Repeat operations exercise, with variable assignment (example x = 5, y = 2).

In [0]:
# Create two numeric vars


# Power (exponentiation)
print()

# Multiplication
print()

# Division
print()

# Integer Division
print()

# Remainder (modulo)
print()

# Addition
print()

# Subtraction
print()


# **Part 3. Python Structures**

---

---

## **Basic Objects**

---

### **Lists**
Python **lists** are sequences of objects. The elements within them can be replaced or removed, and new elements can be inserted or appended.

Literal lists are delimited by square brackets, and the items within the list are separated by commas.

In [0]:
# Here is a list of three numbers
numbers = [4, -1, 900.4]

# This is a list of three strings
fruits = ["apple", "orange", "pear"]

# And this is an empty string
empty = []

We can retrieve elements by using square brackets ([]) with a zero-based index:

In [0]:
print(fruits[0])

apple

We can replace elements by assigning to a specific element:

In [0]:
fruits[0] = 9

print(fruits)

[9, 'orange', 'pear']

And we can add elements to the list using the **append()** method:

In [0]:
fruits.append('grapes')

print(fruits)

[9, 'orange', 'pear', 'grapes']

### **Tuples**

**Tuples** in Python are immutable sequences of arbitrary objects. Once created, the objects within them cannot be replaced or removed, and new elements cannot be added.

Tuples have a similar literal syntax to lists, except that they are delimited by parentheses rather than square brackets. 

Here is a literal tuple containing a string, a float, and an integer:

In [0]:
t = ("Norway", 4.953, 3)

We can access the elements of a tuple by zero-based index using square brackets:

In [0]:
print(t[0])

Norway

We can't modify any element in the tuple:

In [0]:
t[0] = 'test'

TypeError: ignored

In [0]:
t=('test',0,9)

### **Dictionaries**

**Dictionaries** are very widely used. A dictionary maps keys
to values.

Dictionaries are created using curly braces ({}) containing key-value pairs. Each pair is separated by a comma, and each key is separated from its corresponding value by a colon(:). Here we use a dictionary to create a simple telephone directory:

In [0]:
directory = {'alice': '878-8728-922', 'bob': '256-5262-124', 
         'eve': '198-2321-787','bob': '256-7777-124'}

We can retrieve items by key using the square brackets operator:

In [0]:
print(directory['eve'])

256-7777-124

And we can replace the value of a key using square brackets:

In [0]:
directory['eve'] = '333-1234-987'
print(directory['eve'])

333-1234-987

If we assign to a key that has not yet been added, a new entry is created:

In [0]:
directory['charles'] = '334-5551-913'
print(directory)

{'alice': '878-8728-922', 'bob': '256-7777-124', 'eve': '333-1234-987', 'charles': '334-5551-913'}

## **Object Manipulation**


---

### **List/Tuple Slicing**
**Slicing** is a form of extended indexing, which allows us to refer to portions of a list. To use it we pass the start and stop indices of a half-open range, separated by a colon, as the square-brackets index argument. 

Here's how:

In [0]:
s = ['a', 'b', 'c', 'd', 'e', 'f']

print(s[1:5])

['b', 'c', 'd', 'e']

Both the start and stop indices are optional. To slice all elements from the third to the end of the list:

In [0]:
print(s[3:])

['d', 'e', 'f']

To slice all elements from the beginning up to, but not including, the third:

In [0]:
print(s[:3])

['a', 'b', 'c']

In [0]:
print(s[0:6:2])
print(s[::-1])

['a', 'c', 'e']
['f', 'e', 'd', 'c', 'b', 'a']

### **List and Dictionary Modifications**

Some useful methods for lists:

* **append( )** -	Adds an element at the end of the list.

* **count( )** -	Returns the number of elements with the specified value.

* **index( )**	- Returns the index of the first element with the specified value.

* **sort( )** -	Sorts the list.

In [0]:
a =[2, 1, 2, 3, 7, 1, 1]

a.append(4)
print("List with new element: ", a)

one_qty = a.count(1)
print("The number 1 appears :", one_qty, " times in the list")

seven_index = a.index(7)
print("The number 7: "+ str(seven_index))

a.sort()
print(a)

List with new element:  [2, 1, 2, 3, 7, 1, 1, 4]
The number 1 appears : 3  times in the list
The number 7: 4
[1, 1, 1, 2, 2, 3, 4, 7]


Some useful methods for dictionaries:

* **get( )** -	Returns the value of the specified key.

* **values( )** -	Returns a list containing the dictionary's values.

* **keys( )** -	Returns a list containing the dictionary's keys.

* **update( )** - Updates the dictionary with the specified key-value pairs.

In [0]:
characters = {'Ned': 'Stark', 'Cersei': 'Lannister', 'Tyrion': 'Lannister', 'Stannis': 'Baratheon', 'Arya': 'Stark'}

print('Arya belongs to the ', characters.get('Arya'), ' house')

print(characters.values())
print(characters.keys())

characters.update({'Bran': 'Stark', 'Daenerys': 'Targaryen' })
print(characters)

Arya belongs to the  Stark  house
dict_values(['Stark', 'Lannister', 'Lannister', 'Baratheon', 'Stark'])
dict_keys(['Ned', 'Cersei', 'Tyrion', 'Stannis', 'Arya'])
{'Ned': 'Stark', 'Cersei': 'Lannister', 'Tyrion': 'Lannister', 'Stannis': 'Baratheon', 'Arya': 'Stark', 'Bran': 'Stark', 'Daenerys': 'Targaryen'}

## **Exercises**


---

1. Create a list with the 12 months of the year in order. Store it in `months`.

In [0]:
months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']

2. Print a slice of the list with the months from June to November.

In [0]:
print(months[5:11])

['Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre']

3. Using Slicing, print only your birth month, assign it to `birth_month`.

In [0]:
birth_month = months[3:4]
print(birth_month)

['Abril']

4. Create a dictionary using months of the year as keys, and days in each month as values. Make sure to use the same names as in the list. Assign it to `days_per_month`.

In [0]:
days_per_month = {'Enero':31,'Febrero':28,'Marzo':31,'Abril':30,'Mayo':31,'Junio':30,'Julio':31,'Agosto':30,'Septiembre':30,'Octubre':31,'Noviembre':30,'Diciembre':31}

5. Using the dictionary and the list in a single instruction, print out the number of days in your birth month.

In [0]:
print(days_per_month[birth_month[0]])

30

# **Part 4. Control Structures**

---

---

### **What is a Comparison?**
A *comparison* is the act of evaluating two or more things and determining the relevant characteristics of each. Then, we determine which characteristics of each are similar to the other, which are different, and to what degree. [1](https://en.wikipedia.org/wiki/Comparison)

The following are examples of comparisons:
* Is today hotter than yesterday?
* Am I taller than my friend?
* Is BMW more expensive than Ferrari?

The result of a comparison typically yields `True` or `False`.

### **Python comparison examples** [2](https://www.tutorialspoint.com/python/comparison_operators_example.htm)

We define variables *a* and *b*.

```python
a = 21
b = 10
```

The following table lists the operators to make comparisons in Python:

| Operator        | Description           | Example  |
| :-------------: | :-------------: | :-----: |
| == | If the values of two operands are equal, then the condition becomes true     |   (a == b) is not true |
| != |  	If values of two operands are not equal, then condition becomes true      |    (a != b) is true |
| > | If the value of left operand is greater than the value of right operand, then condition becomes true |  (a > b) is not true |
| < | If the value of left operand is less than the value of right operand, then condition becomes true    | (a < b) is true |
| >= | If the value of left operand is greater than or equal to the value of right operand, then condition becomes true |  (a >= b) is not true |
| <= | If the value of left operand is less than or equal to the value of right operand, then condition becomes true |   (a <= b) is true |


Now, we compare variables *a* and *b* using the operators from the table above.

In [0]:
a = 21
b = 10

print("a is equal to b:", a == b)
print("a is not equal to b:", a != b )
print("a is less than b:", a < b) 
print("a is greater than b:", a > b)
print("a is either less than or equal to  b:", a <= b)
print("a is either greater than  or equal to b:", a >= b)

a is equal to b: False
a is not equal to b: True
a is less than b: False
a is greater than b: True
a is either less than or equal to  b: False
a is either greater than  or equal to b: True

### **What is a Conditional Statement?** [3](https://www.guru99.com/if-loop-python-conditional-structures.html)

In Python, a *conditional statement* performs different computations or actions depending on whether a specific Boolean constraint evaluates to True or False. Therefore, the conditional statements are handled by IF statements. 

### **Python’s IF Statements**


IF Statements are used for decision making. Python runs the code inside the IF statement only when it evaluates to True.

When you want to execute a piece of code under a certain condition, then you use an IF statement.

The syntax of an IF statement in Python is the following: 

```python
if expression:
 Statement
```

For example, suppose that you're giving instructions to a friend that wants to learn Python. If your friend is eager to learn Python, then you advice them to attend an amazing course that is happening today:
```python
if "I want to learn python":
 print("Attend an amazing course that is happening today")
```

But, what happens when your friend is not eager enough to learn Python? Then, we need to specify in the IF conditional what happens when it evaluates to `False`.
```python
if "I want to learn python":
 print("Attend an amazing course that is happening today")
else:
  print("Enjoy Life")
```


### **When do you have multiple conditions?**
Have you ever been in a situation when multiple factors have to be either `True` or `False` in order to do or obtain something?

For example, to pass a course you should *attend to all of the sessions*, *do the exercises* and *take a test*. 

```python
if "attend to all of the sessions" and "do the exercises" and "take a test":
  Pass course
else
  Fail (do not follow this path)
```

In Python, we use the connectors `AND`, `OR`, `NOT` to join multiple conditions. 

The following `Truth Tables` list the results we obtain when evaluating variables with different values. 

* a = I have a dog

* b = I have a cat

* a and b = I like to live on edge

* a or b = Someone loves me

* not a = No dog

| a        | b           | a and b  |
| :-------------: | :-------------: | :-----: |
| False        | False           | False  |
|False 	|True 	|False
|True 	|False 	|False
|True 	|True 	|True


| a        | b           | a or b  |
| :-------------: | :-------------: | :-----: |
|F 	|F 	|F
|F 	|T 	|T
|T 	|F 	|T
|T 	|T 	|T

| a        | not a           |
| :-------------: | :-------------: |
|False 	|True 	|
|True 	|False 	|


We can even nest conditions:

```python
if 'you like dogs' and ('you have plenty free time' or 'you can pay for a dog walker') and 'you have enough space at home':
  print('get a dog')
else:
  print('get a stuffed animal')
  
```

### **Python’s If-elif-else Block**
Imagine that you have multiple decisions with multiple conditions. In this situation, `If-else` blocks are not enough because on every decision we have to ask several questions. 

For example, suppose you are dating someone and you want to decide whether you want to stay in the relationship or end it:
```python
if 'He/She likes the sound of the rain and peacefull days'
  if 'He/She is thinking in a future with you'
    if 'He/She is thinking ALL THE TIME in a future with you'
      'Get away, right now'
    elif 'He/She want to have kids' and 'You also want to have kids'
      'Keep on that relationship'
    else
      'Keep evaluating the relationship, in a healthy and emotionaly stable way'
  elif 'He/She is gorgeous'
    'Make an effort and convince that person that you are worth it'
  else
    'Enjoy while it last'
elif 'He/She supports you and make you be a better version of yourself'
  'Marry him/her'
else
  'End the relationship with that emotionless robot'

```

### **Exercises**

We use the function `datetime.now()` to obtain the current time on our system.

In [0]:
from datetime import datetime
print(datetime.now())

2020-04-25 00:53:21.482014

Do the following:

**1.** Based on the current time, print "I'm early" if we are in the first half of the current minute (first 30 seconds), otherwise print "I'm late"

**2.** Give a different message for each range of 10 seconds.
  For example, if seconds == 7, then print "You are on the first ten seconds"

In [0]:
# Get the second of current time
second=datetime.now().second
if second <=30 :
  print("I'm early")
else:
  print("I'm late")

I'm early

In [0]:
# Get the second of current time
second=datetime.now().second
if second <=10 :
  print("You are on the first ten seconds")
elif second <=20:
    print("You are on the first tweenty seconds")
elif second <=30 :
  print("I'm early")
else:
  print("I'm late")

I'm early

## **Loops**

---

### **What is a loop?**
In a computer program, a **loop** is an instruction that repeats until a specified condition is met. A loop asks a question every time it executes the code inside it. If the answer to the question is *YES*, then it is executed. The same question is asked again and again until the answer is *NO*. The process of asking the question and executing the code is called an **iteration**. [5](https://www.thoughtco.com/definition-of-loop-958105)

### **When do you need a loop?**
When you have multiple elements and you want to apply an action to each one. For example, suppose you want to do the following: [6](https://www.cs.utah.edu/~germain/PPS/Topics/for_loops.html)

* Compute the average grade of the class.

* Print the odd numbers from 1 to 1001.

* Search a list (array) of numbers for the biggest grade.


### **Python’s for loop statement** [7](https://realpython.com/python-for-loop/)

In Python, we declare a *for* loop like the following:
```python
for <var> in <iterable>:
    <statement(s)>
```

The **<iterable>** is a collection of objects. For example, it can be a list or tuple. The **statement(s)** in the loop body are denoted by indentation, as with all Python control structures, and are executed once for each item in **iterable**. The loop variable **var** takes on the value of the next element in **iterable** each time through the loop.

```python
a = ['foo', 'bar', 'baz']
for i in a:
  print(i)
```

In this example, **iterable** is the list *a*, and **var** is the variable *i*. Each time through the loop, *i* takes on a successive item in *a*, so `print()` displays the values 'foo', 'bar', and 'baz', respectively. 

#### **Iterable**
In Python, iterable means that an object can be used in an iteration. The term is used as:

* An adjective: An object may be described as iterable.
* A noun: An object may be characterized as an iterable.

If an object is iterable, it can be passed to the built-in Python function iter(), which returns something called an iterator.

Each of the objects in the following example is an iterable and returns some type of iterator when passed to iter():

In [0]:
print(iter('foobar'))                             # String
print(iter(['foo', 'bar', 'baz']))                # List
print(iter(('foo', 'bar', 'baz')))               # Tuple
print(iter({'foo', 'bar', 'baz'}))                # Set
print(iter({'foo': 1, 'bar': 2, 'baz': 3}))       # Dict

<str_iterator object at 0x7f3bc29ada58>
<list_iterator object at 0x7f3bc29adac8>
<tuple_iterator object at 0x7f3bc29ad748>
<set_iterator object at 0x7f3bc29b4828>
<dict_keyiterator object at 0x7f3bc298b9f8>

These object types, on the other hand, aren’t iterable:

In [0]:
print(iter(42))                                   # Integer
#print(iter(3.1))                                  # Float
#print(iter(len))                                  # Built-in function

TypeError: ignored

#### **Iterator**
An iterator is essentially a value producer that yields successive values from its associated iterable object. The built-in function `next()` is used to obtain the next value from in iterator.

Here is an example using the same list as above:

In [0]:
a = ['foo', 'bar', 'baz']

itr = iter(a)
print("iterator", itr)

print(next(itr))

print(next(itr))

print(next(itr))

iterator <list_iterator object at 0x7f3bc29afa90>
foo
bar
baz

In this example, `a` is an iterable list and `itr` is the associated iterator, obtained with `iter()`. Each `next(itr)` call obtains the next value from `itr`.

Notice how an iterator retains its state internally. It knows which values have been obtained already, so when you call `next()`, it knows what value to return next.

What happens when the iterator runs out of values? Let’s make one more `next()` call on the iterator above:

In [0]:
next(itr)

StopIteration: ignored

If all the values from an iterator have been returned already, a subsequent next() call raises a StopIteration exception. Any further attempts to obtain values from the iterator will fail.

#### **Pieces of the for loop**

In summary, a for loop is characterized by the following:

| Term        | Meaning |
| :-------------: | :-------------: |
|Iteration |	The process of looping through the objects or items in a collection|
|Iterable |	An object (or the adjective used to describe an object) that can be iterated over|
|Iterator |	The object that produces successive items or values from its associated iterable|
|iter() |	The built-in function used to obtain an iterator from an iterable|


Now, consider again the simple for loop presented earlier in this section:
```python
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)
```

To carry out the iteration this for loop describes, Python does the following:

   *  Calls `iter()` to obtain an iterator for `a`.
   *  Calls `next()` repeatedly to obtain each item from the iterator in turn.
   *  Terminates the loop when `next()` raises the StopIteration exception.

The loop body is executed once for each item that `next()` returns, with loop variable `i` set to the given item for each iteration.

This sequence of events is summarized in the following diagram:

<div>
<img src="https://files.realpython.com/media/t.ba63222d63f5.png" width="400"/>
</div>


### **For loop with Sequences (range)**
```python
for i in range(10):
    print(i)
```

### **For loop with iterable**
```python
items = ['red', 'orange', 'yellow', 'green']
for item in items:
    print(item)
```

### **List Comprehension** [](https://www.pythonforbeginners.com/basics/list-comprehensions-in-python)

A *list comprehension* provides a concise way to create lists. It consists of brackets containing an expression followed by a for clause, then
zero or more for or if clauses. The expressions can be anything, meaning you can put in all kinds of objects in lists.

The result will be a new list that is the outcome from evaluating the expression in the
context of the for and if clauses which follow it. A list comprehension always returns a result list. 

Iteratively you can create a new list with the next for loop:
```python
new_list = []
for i in old_list:
      new_list.append(expression(i))
```

You can obtain the same thing using list comprehension:

```python
new_list = [expression(i) for i in old_list]
```

### **Syntax**

The list comprehension starts with a '[' and ']', to help you remember that the
result is going to be a list.

The basic syntax of a list comprehension is the following:

    [ expression for item in list ]

The above is equivalent to:

```python
for item in list:
    expression
```

### **Examples**

In [0]:
x = [i for i in range(10)]
print (x)
x = [i**2 for i in range(10)]
print (x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
squares = []

for x in range(10):
    squares.append(x**2)
 
print (squares)

# Or you can use list comprehensions to get the same result:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
list1 = [3,4,5]
 
multiplied = [item*3 for item in list1] 
 
print (multiplied )

[9, 12, 15]

In [0]:
shark_letters = [letter for letter in 'shark']
print(shark_letters)

['s', 'h', 'a', 'r', 'k']

In [0]:
listOfWords = ["this","is","a","list","of","words"]

items = [ word[0] for word in listOfWords ]
print(items)

['t', 'i', 'a', 'l', 'o', 'w']

In [0]:
[x.lower() for x in ["A","B","C"]]

['a', 'b', 'c']


### **List Comprehension with Conditional**
The syntax is pretty similar to list comprehension, you just have to add an if condition:

    [ expression for item in list if conditional]

The above is equivalent to:

```python
for item in list:
  if conditional:
    expression
```

### **Examples**

In [0]:
string = "Hello 12345 World"
numbers = [x for x in string if x.isdigit()]
print (numbers)

['1', '2', '3', '4', '5']

In [0]:
[x ** 2  for x in range(10) if x%2==0]

[0, 4, 16, 36, 64]

In [0]:
fish_tuple = ('blowfish', 'clownfish', 'catfish', 'octopus')

fish_list = [fish for fish in fish_tuple if fish != 'octopus']
print(fish_list)

['blowfish', 'clownfish', 'catfish']

In [0]:
#Here, the list comprehension will first check to see if the number x is divisible by 3, 
#and then check to see if x is divisible by 5. If x satisfies both requirements it will print
number_list = [x for x in range(100) if x % 3 == 0 if x % 5 == 0]
print(number_list)

[0, 15, 30, 45, 60, 75, 90]

EXERCISES

Do the following:

1. Print your name 5 times using a loop. Hint: Use range.

2. Iterate over the days_per_month dict and print Month + Day

In [0]:
#Using a loop, print your name 5 times. (Hint) Use range.
for x in range(5):
  print('Tatiana')

Tatiana
Tatiana
Tatiana
Tatiana
Tatiana

In [0]:
#Iterate over the days_per_month dict, print Month + Days
days_per_month = {'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 'June': 30, 'July': 31, 
                  'August': 31, 'September': 30, 'October': 31, 'November': 30, 'December': 31}
for k in days_per_month:
  print(k , days_per_month[k])

January 31
February 28
March 31
April 30
May 31
June 30
July 31
August 31
September 30
October 31
November 30
December 31